html{
	height:100%;
}
body{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	background-image: url(pictures/background4.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	background-attachment: fixed;	
	min-height: 100%;
 	display: grid;
 	grid-template-rows: 0.2fr auto;

  	

}
div{
	color:white;
}
h1{
	font-size:3vw;
}
p{
	font-size:1.8vw;
}
/*hovereffect in dark blue*/
.hover:hover {
  background-color: rgb(29, 38, 47);

}
/*makes the maincontainer 50% smaller which includes all the other containers*/
.width{
	width:60%;
}
.borderadius{
	border-radius: 10px;
}
/*Logo styles*/
.logosizenavbar{
	height: 65px;
	width: 65px;
}
/* Center logotype and adjust size */
.logosizestart{
	height: 40%;
	width: 40%;
	border-radius: 20px; 
	margin:20px;
}

/*Logo styles ends here*/
/*Navbar color*/
.navbarcolor{
	 background-color: black;
}

/*css for sections on mainsite*/
.sectionmargin{
	margin-top:20px;
	margin-bottom:40px;
 	border-radius: 20px;
 	
}

.sectioncolor{
	background-color: rgb(29, 38, 47);
}
/*shadow for pictures*/
.boxshadow {
  box-shadow: 15px 15px 8px #0d0d0d;
}


.paddingheader{
	padding:20px 20px 4px;
}
.paddingtext{
	padding: 5px 20px 5px;
}

.centertext{
	text-align: center;
}

.colorborder{
	border:solid 2px red;
}



/*HERE STARTS FLEXBOX FOR SPONSORS ON PAGE 1*/
/*Flexbox container*/
.flexbox-container{
	display:flex;
}
/*Flexbox item 1*/
.flexbox-item1{
	width: 45%;
	background-color: rgb(29, 38, 47);

}
/*Flexbox item 2*/
.flexbox-item2{
	width:45%;
	margin-left:10%;
	background-color: rgb(29, 38, 47);
}
/*style for Xtrfy img sponsor*/
.flexbox-img1{
	width: 50%;
	border-radius: 20px;
	margin:20px;
	box-shadow: 15px 15px 8px #0d0d0d;
}
/*Style for DigitalFilms img sponsor*/
.flexbox-img2{
	width: 40%;
	border-radius: 20px;
	margin:20px;
	box-shadow: 15px 15px 8px #0d0d0d;
}
/*HERE ENDS FLEXBOX FOR SPONSORS ON PAGE 1*/

/*HERE STARTS CSS FOR FOOTER*/

/*Footer style*/
.footer{
  width: 100%;
  background-color:#999999;	
  margin-top: auto;
}
.linkcolor{
	color:white;
}
.footerimgstyle{
	width:100px;
	padding:20px;
}
.attributesize{
	font-size: 10px;
}
/*HERE ENDS CSS FOR FOOTER*/



